In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [4]:
df.shape

(50, 5)

In [5]:
X = df.iloc[: , :-1]
y = df.iloc[: ,-1]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
X_train.head()

    age  gender review education
46   64  Female   Poor        PG
47   38  Female   Good        PG
15   75    Male   Poor        UG
9    74    Male   Good        UG
16   59    Male   Poor        UG

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
reg = OrdinalEncoder()

In [11]:
reg.fit(X_train[['review']])

OrdinalEncoder()

In [12]:
a = reg.transform(X_train[['review']])

In [13]:
a

array([[2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [1.]])

In [14]:
data = pd.DataFrame(a)

In [15]:
data

      0
0   2.0
1   1.0
2   2.0
3   1.0
4   2.0
5   0.0
6   0.0
7   2.0
8   0.0
9   0.0
10  2.0
11  1.0
12  0.0
13  0.0
14  1.0
15  1.0
16  2.0
17  0.0
18  1.0
19  2.0
20  2.0
21  1.0
22  1.0
23  1.0
24  2.0
25  1.0
26  1.0
27  0.0
28  2.0
29  1.0
30  2.0
31  2.0
32  1.0

In [16]:
X_train.head()

    age  gender review education
46   64  Female   Poor        PG
47   38  Female   Good        PG
15   75    Male   Poor        UG
9    74    Male   Good        UG
16   59    Male   Poor        UG

In [17]:
X_train = pd.concat([X_train.reset_index(drop=True),data.reset_index(drop=True)],axis=1)

In [18]:
X_train

    age  gender   review education    0
0    64  Female     Poor        PG  2.0
1    38  Female     Good        PG  1.0
2    75    Male     Poor        UG  2.0
3    74    Male     Good        UG  1.0
4    59    Male     Poor        UG  2.0
5    16  Female  Average        PG  0.0
6    86    Male  Average    School  0.0
7    22  Female     Poor    School  2.0
8    30  Female  Average    School  0.0
9    77  Female  Average        UG  0.0
10   69  Female     Poor        PG  2.0
11   89  Female     Good        PG  1.0
12   31  Female  Average    School  0.0
13   83  Female  Average        UG  0.0
14   74    Male     Good        UG  1.0
15   34  Female     Good        UG  1.0
16   68  Female     Poor        UG  2.0
17   32    Male  Average        PG  0.0
18   70  Female     Good        PG  1.0
19   27    Male     Poor        PG  2.0
20   74    Male     Poor    School  2.0
21   96  Female     Good    School  1.0
22   39    Male     Good    School  1.0
23   98  Female     Good        UG  1.0
24   18  Female     Poor        PG  2.0
25   19    Male     Good    School  1.0
26   25  Female     Good        UG  1.0
27   57  Female  Average    School  0.0
28   60  Female     Poor    School  2.0
29   30  Female     Good        PG  1.0
30   15    Male     Poor        PG  2.0
31   48    Male     Poor    School  2.0
32   45  Female     Good    School  1.0

In [19]:
#for test

In [23]:
b = reg.transform(X_test[['review']])

In [24]:
b

array([[0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [2.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.]])

In [25]:
f = pd.DataFrame(b)

In [26]:
f

      0
0   0.0
1   2.0
2   0.0
3   2.0
4   2.0
5   1.0
6   2.0
7   1.0
8   0.0
9   2.0
10  2.0
11  0.0
12  0.0
13  0.0
14  1.0
15  1.0
16  1.0

In [28]:
X_test = pd.concat([X_test.reset_index(drop = True) , f.reset_index(drop = True)],axis = 1)

In [29]:
X_test

    age  gender   review education    0
0    57  Female  Average    School  0.0
1    76    Male     Poor        PG  2.0
2    73    Male  Average        UG  0.0
3    61    Male     Poor        PG  2.0
4    22  Female     Poor        UG  2.0
5    39  Female     Good        UG  1.0
6    53  Female     Poor        PG  2.0
7    57  Female     Good    School  1.0
8    92    Male  Average        UG  0.0
9    97    Male     Poor        PG  2.0
10   51    Male     Poor    School  2.0
11   16  Female  Average        UG  0.0
12   94    Male  Average        PG  0.0
13   65  Female  Average        UG  0.0
14   72  Female     Good        PG  1.0
15   18    Male     Good    School  1.0
16   23    Male     Good        PG  1.0

## Lable encoding

In [30]:
# it will be applied on only dependent variable

In [31]:
X_train

    age  gender   review education    0
0    64  Female     Poor        PG  2.0
1    38  Female     Good        PG  1.0
2    75    Male     Poor        UG  2.0
3    74    Male     Good        UG  1.0
4    59    Male     Poor        UG  2.0
5    16  Female  Average        PG  0.0
6    86    Male  Average    School  0.0
7    22  Female     Poor    School  2.0
8    30  Female  Average    School  0.0
9    77  Female  Average        UG  0.0
10   69  Female     Poor        PG  2.0
11   89  Female     Good        PG  1.0
12   31  Female  Average    School  0.0
13   83  Female  Average        UG  0.0
14   74    Male     Good        UG  1.0
15   34  Female     Good        UG  1.0
16   68  Female     Poor        UG  2.0
17   32    Male  Average        PG  0.0
18   70  Female     Good        PG  1.0
19   27    Male     Poor        PG  2.0
20   74    Male     Poor    School  2.0
21   96  Female     Good    School  1.0
22   39    Male     Good    School  1.0
23   98  Female     Good        UG  1.0
24   18  Female     Poor        PG  2.0
25   19    Male     Good    School  1.0
26   25  Female     Good        UG  1.0
27   57  Female  Average    School  0.0
28   60  Female     Poor    School  2.0
29   30  Female     Good        PG  1.0
30   15    Male     Poor        PG  2.0
31   48    Male     Poor    School  2.0
32   45  Female     Good    School  1.0

In [32]:
y_train

46     No
47    Yes
15     No
9     Yes
16    Yes
24    Yes
34     No
31    Yes
0      No
44     No
27     No
33    Yes
5     Yes
29    Yes
11    Yes
36    Yes
1      No
21     No
2      No
43     No
35    Yes
23     No
40     No
10    Yes
22    Yes
18     No
49     No
20    Yes
7     Yes
42    Yes
14    Yes
28     No
38     No
Name: purchased, dtype: object

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
reg = LabelEncoder()

In [35]:
reg.fit(y_train)

LabelEncoder()

In [36]:
X_train['purchased'] = reg.transform(y_train)

In [37]:
X_train

    age  gender   review education    0  purchased
0    64  Female     Poor        PG  2.0          0
1    38  Female     Good        PG  1.0          1
2    75    Male     Poor        UG  2.0          0
3    74    Male     Good        UG  1.0          1
4    59    Male     Poor        UG  2.0          1
5    16  Female  Average        PG  0.0          1
6    86    Male  Average    School  0.0          0
7    22  Female     Poor    School  2.0          1
8    30  Female  Average    School  0.0          0
9    77  Female  Average        UG  0.0          0
10   69  Female     Poor        PG  2.0          0
11   89  Female     Good        PG  1.0          1
12   31  Female  Average    School  0.0          1
13   83  Female  Average        UG  0.0          1
14   74    Male     Good        UG  1.0          1
15   34  Female     Good        UG  1.0          1
16   68  Female     Poor        UG  2.0          0
17   32    Male  Average        PG  0.0          0
18   70  Female     Good        PG  1.0          0
19   27    Male     Poor        PG  2.0          0
20   74    Male     Poor    School  2.0          1
21   96  Female     Good    School  1.0          0
22   39    Male     Good    School  1.0          0
23   98  Female     Good        UG  1.0          1
24   18  Female     Poor        PG  2.0          1
25   19    Male     Good    School  1.0          0
26   25  Female     Good        UG  1.0          0
27   57  Female  Average    School  0.0          1
28   60  Female     Poor    School  2.0          1
29   30  Female     Good        PG  1.0          1
30   15    Male     Poor        PG  2.0          1
31   48    Male     Poor    School  2.0          0
32   45  Female     Good    School  1.0          0

In [38]:
# for test

In [40]:
X_test['purchased'] = reg.transform(y_test)

In [41]:
X_test

    age  gender   review education    0  purchased
0    57  Female  Average    School  0.0          0
1    76    Male     Poor        PG  2.0          0
2    73    Male  Average        UG  0.0          0
3    61    Male     Poor        PG  2.0          1
4    22  Female     Poor        UG  2.0          1
5    39  Female     Good        UG  1.0          1
6    53  Female     Poor        PG  2.0          0
7    57  Female     Good    School  1.0          0
8    92    Male  Average        UG  0.0          1
9    97    Male     Poor        PG  2.0          1
10   51    Male     Poor    School  2.0          0
11   16  Female  Average        UG  0.0          0
12   94    Male  Average        PG  0.0          1
13   65  Female  Average        UG  0.0          0
14   72  Female     Good        PG  1.0          0
15   18    Male     Good    School  1.0          0
16   23    Male     Good        PG  1.0          1