In [31]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("dataset_1.csv")

In [33]:
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [34]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
from feature_engine.selection import DropConstantFeatures

In [8]:
reg = DropConstantFeatures(tol=1,variables = None , missing_values='raise')

In [9]:
reg.fit(X_train)

DropConstantFeatures()

In [10]:
reg.features_to_drop_

['var_14',
 'var_23',
 'var_33',
 'var_34',
 'var_44',
 'var_61',
 'var_66',
 'var_67',
 'var_69',
 'var_73',
 'var_80',
 'var_81',
 'var_87',
 'var_89',
 'var_92',
 'var_97',
 'var_99',
 'var_112',
 'var_113',
 'var_120',
 'var_122',
 'var_127',
 'var_129',
 'var_135',
 'var_158',
 'var_167',
 'var_171',
 'var_178',
 'var_180',
 'var_182',
 'var_183',
 'var_195',
 'var_196',
 'var_201',
 'var_212',
 'var_215',
 'var_225',
 'var_227',
 'var_248',
 'var_287',
 'var_294',
 'var_297']

In [11]:
reg.n_features_in_

300

In [12]:
len(reg.features_to_drop_)

42

In [13]:
X_train = reg.transform(X_train)

In [14]:
X_test = reg.transform(X_test)

In [15]:
X_train.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_289,var_290,var_291,var_292,var_293,var_295,var_296,var_298,var_299,var_300
23990,0,0,0.0,2.79,0.0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0.0,0.0
8729,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0.0,0.0
3451,0,0,0.0,2.79,0.0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0.0,0.0
2628,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0.0,0.0
38352,0,0,0.0,2.88,0.0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0.0,0.0

### Quasi constant

In [22]:
from feature_engine.selection import DropConstantFeatures

In [23]:
reg = DropConstantFeatures(tol=0.998,variables = None , missing_values='raise')

In [24]:
reg.fit(X_train)

DropConstantFeatures(tol=0.998)

In [25]:
reg.features_to_drop_

['var_1',
 'var_2',
 'var_3',
 'var_6',
 'var_7',
 'var_9',
 'var_10',
 'var_11',
 'var_12',
 'var_14',
 'var_16',
 'var_20',
 'var_23',
 'var_24',
 'var_28',
 'var_32',
 'var_33',
 'var_34',
 'var_36',
 'var_39',
 'var_40',
 'var_42',
 'var_43',
 'var_44',
 'var_45',
 'var_48',
 'var_53',
 'var_59',
 'var_60',
 'var_61',
 'var_65',
 'var_66',
 'var_67',
 'var_69',
 'var_71',
 'var_72',
 'var_73',
 'var_77',
 'var_78',
 'var_80',
 'var_81',
 'var_87',
 'var_89',
 'var_90',
 'var_92',
 'var_95',
 'var_97',
 'var_98',
 'var_99',
 'var_102',
 'var_104',
 'var_106',
 'var_111',
 'var_112',
 'var_113',
 'var_115',
 'var_116',
 'var_120',
 'var_122',
 'var_124',
 'var_125',
 'var_126',
 'var_127',
 'var_129',
 'var_130',
 'var_133',
 'var_135',
 'var_136',
 'var_138',
 'var_141',
 'var_142',
 'var_146',
 'var_149',
 'var_150',
 'var_151',
 'var_153',
 'var_158',
 'var_159',
 'var_167',
 'var_170',
 'var_171',
 'var_178',
 'var_180',
 'var_182',
 'var_183',
 'var_184',
 'var_187',
 'var_189',
 'var_195',
 'var_196',
 'var_197',
 'var_201',
 'var_202',
 'var_204',
 'var_210',
 'var_211',
 'var_212',
 'var_215',
 'var_216',
 'var_217',
 'var_219',
 'var_221',
 'var_223',
 'var_224',
 'var_225',
 'var_227',
 'var_228',
 'var_233',
 'var_234',
 'var_235',
 'var_236',
 'var_237',
 'var_239',
 'var_243',
 'var_245',
 'var_246',
 'var_247',
 'var_248',
 'var_249',
 'var_254',
 'var_257',
 'var_260',
 'var_263',
 'var_264',
 'var_265',
 'var_267',
 'var_274',
 'var_280',
 'var_282',
 'var_283',
 'var_285',
 'var_286',
 'var_287',
 'var_289',
 'var_290',
 'var_294',
 'var_297',
 'var_298',
 'var_299']

In [26]:
reg.n_features_in_

300

In [27]:
len(reg.features_to_drop_)

139

In [28]:
X_train = reg.transform(X_train)

In [29]:
X_test = reg.transform(X_test)

In [30]:
X_train.head()

,var_4,var_5,var_8,var_13,var_15,var_17,var_18,var_19,var_21,var_22,...,var_279,var_281,var_284,var_288,var_291,var_292,var_293,var_295,var_296,var_300
23990,2.79,0.0,0,0.0,3,2.94,0.0,0,2.94,0.0,...,0.0,0,0,0.0,0,0.0,0,0,0,0.0
8729,0.00,0.0,0,0.0,0,0.00,0.0,0,0.00,0.0,...,0.0,0,0,0.0,0,0.0,0,0,0,0.0
3451,2.79,0.0,0,0.0,3,0.00,0.0,0,27.30,0.0,...,0.0,0,0,0.0,0,0.0,0,0,0,0.0
2628,2.76,0.0,0,0.0,3,0.00,0.0,0,2.82,0.0,...,0.0,0,0,0.0,0,0.0,0,0,0,0.0
38352,2.88,0.0,0,0.0,3,0.00,0.0,0,86.40,0.0,...,0.0,0,0,0.0,0,0.0,0,0,0,0.0

### Duplicate features

In [38]:
from feature_engine.selection import DropDuplicateFeatures

In [39]:
reg = DropDuplicateFeatures(variables = None , missing_values='raise')

In [40]:
reg.fit(X_train)

DropDuplicateFeatures(missing_values='raise')

In [41]:
reg.features_to_drop_

{'var_104',
 'var_106',
 'var_112',
 'var_113',
 'var_116',
 'var_120',
 'var_122',
 'var_127',
 'var_129',
 'var_135',
 'var_148',
 'var_151',
 'var_158',
 'var_167',
 'var_171',
 'var_178',
 'var_180',
 'var_182',
 'var_183',
 'var_195',
 'var_196',
 'var_199',
 'var_201',
 'var_212',
 'var_215',
 'var_216',
 'var_223',
 'var_225',
 'var_227',
 'var_23',
 'var_232',
 'var_239',
 'var_248',
 'var_250',
 'var_263',
 'var_269',
 'var_285',
 'var_287',
 'var_289',
 'var_294',
 'var_296',
 'var_297',
 'var_33',
 'var_34',
 'var_44',
 'var_61',
 'var_66',
 'var_67',
 'var_69',
 'var_73',
 'var_80',
 'var_81',
 'var_87',
 'var_92',
 'var_97',
 'var_99'}

In [42]:
reg.duplicated_feature_sets_

[{'var_151', 'var_6'},
 {'var_116', 'var_7'},
 {'var_112',
  'var_113',
  'var_120',
  'var_122',
  'var_127',
  'var_129',
  'var_135',
  'var_14',
  'var_158',
  'var_167',
  'var_171',
  'var_182',
  'var_183',
  'var_195',
  'var_196',
  'var_201',
  'var_212',
  'var_215',
  'var_225',
  'var_23',
  'var_248',
  'var_287',
  'var_294',
  'var_297',
  'var_33',
  'var_34',
  'var_44',
  'var_61',
  'var_66',
  'var_67',
  'var_69',
  'var_73',
  'var_80',
  'var_81',
  'var_87',
  'var_92',
  'var_97',
  'var_99'},
 {'var_104', 'var_36'},
 {'var_148', 'var_37'},
 {'var_106', 'var_43'},
 {'var_216', 'var_60'},
 {'var_289', 'var_71'},
 {'var_199', 'var_84'},
 {'var_178', 'var_180', 'var_227', 'var_89'},
 {'var_133', 'var_223'},
 {'var_143', 'var_296'},
 {'var_149', 'var_239'},
 {'var_177', 'var_250'},
 {'var_187', 'var_285'},
 {'var_221', 'var_263'},
 {'var_226', 'var_232'},
 {'var_229', 'var_269'}]

In [43]:
len(reg.features_to_drop_)

56

In [44]:
X_train = reg.transform(X_train)

In [45]:
X_test = reg.transform(X_test)

In [46]:
X_train.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_286,var_288,var_290,var_291,var_292,var_293,var_295,var_298,var_299,var_300
23990,0,0,0.0,2.79,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0,0,0,0.0,0.0
8729,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0,0,0,0.0,0.0
3451,0,0,0.0,2.79,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0,0,0,0.0,0.0
2628,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0,0,0,0.0,0.0
38352,0,0,0.0,2.88,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0,0,0,0.0,0.0